@import url("https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:wght@400;700&family=Poppins&family=Roboto&display=swap");

/* This website was created by Sandaldeep */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

*::selection{
  background-color: #b2e623;
  color:#fff;
}

body::-webkit-scrollbar{
  display: block;
  width: 12px;
  background: linear-gradient(90deg, #000, #111);
}

body::-webkit-scrollbar-thumb{
  background-color: rgb(34, 99, 219);
  border-radius: 50px;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 150px;
  height: 150px;
  width: 100%;
  gap: 50px;
  position: fixed;
  z-index: 99;
}

#nav img {
  height: 75px;
}

#nav h4 {
  text-transform: uppercase;
  font-weight: 500;
}

#nav a {
  text-decoration: none;
}
#nav h4:hover {
  color: rgb(34, 99, 219);
  cursor: pointer;
}

#nav i {
  display: none;
}
#logo:hover{
    
    transform: scale(1.2);
    transition: 0.4s ease-in-out;
}

#cursor {
  height: 20px;
  width: 20px;
  background-color: rgb(34, 99, 219);
  border-radius: 50%;
  position: fixed;
  z-index: 9;
}
#cursor-blur {
  height: 500px;
  width: 500px;
  background-color: rgba(34, 99, 219, 0.1);
  border-radius: 50%;
  /* box-shadow:  0 0 20px#ceff09; */
  filter: blur(35px);
  position: fixed;
  z-index: 9;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.37);
  overflow: hidden;
}

#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
  cursor: default;
}

#page1 h1 {
  font-size: 6.5vw;
  font-weight: 900;
  position: relative;
}

#page1 h1::before {
  content: ".SANDALDEEP.";
  position: absolute;
  color: #000;
  top: -5px;
  left: -5px;
  -webkit-text-stroke: 1px #ceff09;
  z-index: -1;
}


#page1 h2 {
  font-size: 2vw;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 20px;
}

#page1 p {
  font-size: 1.5vw;
  font-weight: 500;
  width: 50%;
}

#page2 {
  min-height: 40vh;
  width: 100%;
}

#about-us {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  padding: 0 10px;
  width: 100%;
  height: 50vh;
  position: relative;
  z-index: 10;
  margin-bottom: 7vh;
  /* background-color: #000000; */
}

#about-img-1 {
  border-radius: 20px;
  height: 150px;
  width: 150px;
  object-fit: cover;
}
#about-img-2 {
  border-radius: 20px;
  height: 200px;
  width: 150px;
  object-fit: cover;
}

#about-us-content {
  text-align: center;
  padding: 0 10px;
  width: 50%;
}
#about-us-content h4 {
  margin-bottom: 1em;
  font-weight: 900;
  font-size: 3vw;
  text-transform: uppercase;
}
#about-us-content p {
  font-weight: 400;
  font-size: 1.3vw;
  line-height: 2em;
}

#cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vw;
  gap: 3rem;
  width: 100%;
  height: 80vh;
  position: relative;
  z-index: 10;
}

.card {
  height: 90%;
  width: 24%;
  position: relative;
  background-color: rgb(34, 99, 219);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#cardh2 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2vw;
  left: 4%;
  bottom: 5%;
  position: absolute;
  z-index: -1;
}

#card1 {
  background-image: url(./images/frontend.jpeg);
}
#card2 {
  background-image: url(./images/backend.jpeg);
}
#card3 {
  background-image: url(./images/database.jpeg);
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgb(34, 99, 219);
  padding: 60px 30px;
  opacity: 0;
  transition: all ease 0.5s;
}

.overlay h4 {
  margin-bottom: 20px;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2vw;
  color: #fff;
}

.overlay ul {
  font-weight: 400;
  line-height: 30px;
}

.overlay li{
  margin-left: 20px;
  color: #fff;
}

.overlay:hover {
  opacity: 1;
}

.card:hover {
  transition: all linear 0.3s;
  transform: rotate3d(0.5, 0.5, 0, 15deg); /*x-axis, y-axis, z-axis, degree*/
}

#green-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 30vh;
  background: linear-gradient(90deg, rgb(34, 99, 219), rgb(95, 214, 230));
}

#green-div h2 {
  color: #000;
  text-align: center;
  font-weight: 900;
  line-height: 30px;
  width: 50%;
  text-transform: uppercase;
}

#green-div img {
  height: 100%;
  object-fit: cover;
  width: 15%;
}

#dot-img1 {
  transform: rotate(-180deg);
}

#page3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

#page3 h2 {
  text-align: center;
  width: 55%;
  line-height: 45px;
  text-transform: uppercase;
}

#page3 img {
  height: 45px;
  position: absolute;
}

#colon1 {
  top: 25%;
  left: 15%;
}

#colon2 {
  bottom: 25%;
  right: 15%;
}

#page4 {
  width: 100%;
  height: 30vh;
  /* background-color: red; */
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  gap: 2vh;
  margin-bottom: 8vh;
}

.page4-cards {
  width: 100%;
  height: 20vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2vw;
}

.page4-cards h1 {
  position: absolute;
  top: -58%;
  font-family: sans-serif;
  font-size: 5vw;
  font-weight: 900;
  color: #000;
  -webkit-text-stroke: 1px #fff;
}

.page4-cards h1:hover {
  -webkit-text-stroke: 1px rgb(34, 99, 219);
}

#page4-card1 {
  background-image: url(./images/rider.jpeg);
}
#page4-card2 {
  background-image: url(./images/SandyShabbu.jpeg);
}
#page4-card3 {
  background-image: url(./images/scenary.jpeg);
}

.page4-card {
  width: 30%;
  position: relative;
  border-radius: 20px;
  height: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  z-index: 9;
}

.page4-card a {
  background: linear-gradient(90deg,rgb(95, 214, 230),rgb(53, 118, 238));
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  height: 100%;
  padding: 1vw;
  text-transform: uppercase;
  font-size: 1.5vw;
  font-weight: 900;
  color: #fff;
}

.page4-card h4:hover {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 1, 0.2));
  transition: 0.4s ease-in-out;
  color: #fff;
  cursor: pointer;
}

footer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2vw;
  height: 40vh;
  background: linear-gradient(-90deg,rgb(95, 214, 230),rgb(34, 99, 219));
}

.footer-container {
  height: 100%;
  width: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  gap: 3vw;
  flex-wrap: wrap;
  /* background-color: red; */
  z-index: 10;
}

.footer-container a {
  font-size: 1.5vw;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  color: #000;
}

.footer-container a:hover {
  color: #fff;
  transition: 0.4s;
}

#fcontent4 i:hover {
  color: #fff;
  transition: 0.4s;
}

.footer-container h4 {
  color: #000;
  font-size: 9vw;
}

#fcontent1 {
  height: 90%;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  gap: 8vh;
}

#fcontent2 {
  height: 70%;
  /* background-color: #24A536; */
  display: flex;
  flex-direction: column;
  gap: 8vh;
}

#fcontent3 {
  height: 100%;
  width: 20%;
  /* background-color: #233125; */
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 6.8vh;
  align-items: flex-start;
}

#fcontent3 p {
  color: #000;
  font-size: 1.5vw;
  font-weight: 600;
}

#fcontent3 a:hover {
  color: #fff;
}

#fcontent3 a {
  color: #000;
  font-size: 1.5vw;
  font-weight: 800;
}

#fcontent4 {
  height: 100%;
  width: 20%;
  gap: 1vw;
  /* background-color: #24A536; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#fcontent4 i {
  font-size: 3vw;
  color: #000;
}

footer img {
  height: 70%;
  left: 2%;
  position: absolute;
  z-index: 1;
}

#scroller {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}

#scroller::-webkit-scrollbar {
  display: none;
}

#scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#scroller h4 {
  display: inline-block;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 6rem;
  font-weight: 900;
  margin-right: 1rem;
  font-family: sans-serif;
  transition: all linear 0.3s;
  color: black;
  -webkit-text-stroke: 1px #ffffff;
}

#scroller h4:hover {
  color: rgb(34, 99, 219);
  -webkit-text-stroke: 1px rgb(34, 99, 219);
  cursor: default;
}

.animatedContainerPro{
  overflow: hidden;
}

.animatedContainer .dynamicText{
  position: relative;
  overflow: hidden;
  padding: 6px;
  background-color: rgb(34, 99, 219);
}

.dynamicText::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color:  rgb(34, 99, 219);
  border-left: 2px solid rgb(95, 214, 230);
  animation: textUpdate 4s steps(12) infinite;
}

@keyframes textUpdate{
  40%, 60%{
    left: 100%;
  }
  100%{
    left: 0%;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}


/* The desktop-first pre-defined media queries: */
/* 2xl */
@media (max-width: 1536px) {
  .overlay {
    height: 100vh;
  }
}

/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
  #nav {
    padding: 0 50px;
  }

  #nav h4 {
    font-size: 1.5vw;
  }
  .card {
    width: 50%;
  }

  .page4-cards h1 {
    top: -35%;
  }
}

/* md */
@media (max-width: 768px) {
  #nav {
    padding: 0 10px;
  }

  #nav h4 {
    font-size: 1.5vw;
  }

  .overlay ul {
    font-size: 2.5vw;
  }
}

/* sm */
@media (max-width: 640px) {
  /* Cursor Setting */
  #cursor,
  #cursor-blur {
    display: none;
  }

  /*Navbar*/

  #nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
    height: 150px;
    width: 100%;
  }

  #nav h4 {
    display: none;
  }

  #nav i {
    display: initial;
    font-size: 5vw;
    font-weight: 700;
  }

  /* Heading Setting */
  #page1 h1 {
    font-size: 9vw;
  }

  /* Page1 Setting */
  #page1 h2 {
    font-size: 3.8vw;
  }

  #page1 p {
    font-size: 3.6vw;
    width: 50%;
  }

  #page2 {
    min-height: 20vh;
    width: 100%;
  }
  /* AboutUs Setting */

  #about-us {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    flex-wrap: wrap;
    width: 100vw;
    height: 90vh;
    overflow: hidden;
    margin-bottom: 0;
  }

  #about-img-1 {
    border-radius: 20px;
    height: 35vh;
    width: 40%;
    object-fit: cover;
  }
  #about-img-2 {
    border-radius: 20px;
    height: 35vh;
    width: 40%;
    object-fit: cover;
  }

  #about-us-content {
    top: 45%;
    position: absolute;
    text-align: center;
    padding: 0 10px;
    width: 100%;
  }
  #about-us-content h4 {
    margin-bottom: 1em;
    font-weight: 900;
    font-size: 6vw;
    text-transform: uppercase;
  }
  #about-us-content p {
    font-weight: 400;
    font-size: 3vw;

    line-height: 2em;
  }

  #cards-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 2vw;
    width: 100vw;
    height: 100vh;
    margin: 4vh 0;
    position: relative;
    z-index: 10;
  }

  .card {
    height: 30%;
    width: 90%;
    position: relative;
    background-color: #ceff09;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }

  #cardh2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 4vw;
    left: 4%;
    bottom: 5%;
    position: absolute;
    z-index: -1;
  }

  .overlay {
    padding: 10px 30px;
  }

  .overlay h4 {
    font-size: 5vw;
  }

  .overlay ul {
    width: 100%;
    margin-bottom: 20vh;
    font-size: 2.5vw;
  }

  #green-div {
    height: 20vh;
  }

  #green-div h2 {
    font-size: 2.5vw;
  }

  #page3 {
    height: 70vh;
  }

  #page3 h2 {
    font-size: 3vw;
  }

  #page3 img {
    height: 45px;
    position: absolute;
  }

  #colon1 {
    top: 15%;
    left: 8%;
  }

  #colon2 {
    bottom: 15%;
    right: 8%;
  }
  .page4-card a {
    font-size: 2vw;
  }

  footer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2vw;
    height: 100vh;
    background: linear-gradient(-90deg,rgb(95, 214, 230),rgb(34, 99, 219));
  }

  .footer-container {
    height: 80%;
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    gap: 3vw;
    flex-wrap: wrap;
    /* background-color: red; */
    z-index: 10;
  }

  .footer-container a {
    font-size: 4vw;
  }

  #fcontent1 {
    height: 60%;
  }

  #fcontent3 {
    height: 100%;
    width: 20%;
    flex-direction: column;
    position: absolute;
    top: 53%;
    left: 60%;
  }

  #fcontent3 p {
    color: #000;
    font-size: 3vw;
  }

  #fcontent3 a {
    font-size: 3vw;
  }

  #fcontent4 {
    top: 60%;
    left: 5%;
    gap: 3vw;
    position: absolute;
  }

  #fcontent4 i {
    font-size: 7vw;
    color: #000;
  }
}

/* xs */
@media (max-width: 475px) {
  /* Cursor Setting */
  #cursor,
  #cursor-blur {
    display: none;
  }

  /*Navbar*/

  #nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
    height: 150px;
    width: 100%;
    gap: 50px;
    position: fixed;
    z-index: 99;
  }

  #nav img {
    height: 75px;
  }

  #nav h4 {
    display: none;
  }

  #nav a {
    text-decoration: none;
  }
  #nav h4:hover {
    color: rgb(34, 99, 219);
    cursor: pointer;
  }

  #nav i {
    display: initial;
    font-size: 5vw;
    font-weight: 700;
  }

  /* Heading Setting */
  #page1 h1 {
    font-size: 9vw;
  }

  /* Page1 Setting */
  #page1 h2 {
    font-size: 3.8vw;
  }

  #page1 p {
    font-size: 3.6vw;
    width: 50%;
  }

  #page2 {
    min-height: 20vh;
    width: 100%;
  }
  /* AboutUs Setting */

  #about-us {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    flex-wrap: wrap;
    width: 100vw;
    height: 90vh;
    overflow: hidden;
    margin-bottom: 0;
  }

  #about-img-1 {
    border-radius: 20px;
    height: 35vh;
    width: 40%;
    object-fit: cover;
  }
  #about-img-2 {
    border-radius: 20px;
    height: 35vh;
    width: 40%;
    object-fit: cover;
  }

  #about-us-content {
    top: 45%;
    position: absolute;
    text-align: center;
    padding: 0 10px;
    width: 100%;
  }
  #about-us-content h4 {
    margin-bottom: 1em;
    font-weight: 900;
    font-size: 6vw;
    text-transform: uppercase;
  }
  #about-us-content p {
    font-weight: 400;
    font-size: 3vw;

    line-height: 2em;
  }

  #cards-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 2vw;
    width: 100vw;
    height: 100vh;
    margin: 4vh 0;
    position: relative;
    z-index: 10;
  }

  .card {
    height: 30%;
    width: 90%;
    position: relative;
    background-color: #ceff09;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }

  #cardh2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 4vw;
    left: 4%;
    bottom: 5%;
    position: absolute;
    z-index: -1;
  }

  .overlay {
    padding: 10px 30px;
  }

  .overlay h4 {
    font-size: 5vw;
  }

  .overlay ul {
    width: 100%;
    margin-bottom: 20vh;
    font-size: 2.5vw;
  }

  #green-div {
    height: 20vh;
  }

  #green-div h2 {
    font-size: 3vw;
  }

  #page3 {
    height: 70vh;
  }

  #page3 h2 {
    font-size: 3vw;
    width: 70%;
  }

  #page3 img {
    height: 45px;
    position: absolute;
  }

  #colon1 {
    top: 25%;
    left: 6%;
  }

  #colon2 {
    bottom: 25%;
    right: 6%;
  }
}
